{% extends "base.html" %}

{% block title %}My Bookmarks{% endblock %}

{% block content %}
    <div class="container">
        <h1>My Bookmarks</h1>
        
        {% if user.bookmarks %}
            <div class="list-group">
                {% for bookmark in user.bookmarks %}
                    <div class="list-group-item">
                        <h5 class="mb-1">{{ bookmark.resource.title }}</h5>
                        <p class="mb-1">{{ bookmark.resource.description }}</p>
                        <a href="{{ bookmark.resource.link }}" class="btn btn-primary" target="_blank">View Resource</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You have no bookmarks yet.</p>
        {% endif %}
    </div>
{% endblock %}
