<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aigo Home</title>
    <link rel="icon" type="image/x-icon" href="/CS256_HW_Learning_Hub/frontend/img/aigo_app.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/CS256_HW_Learning_Hub/frontend/styles/aigo.css">
    <link rel="stylesheet" href="/CS256_HW_Learning_Hub/frontend/styles/bookmarkDash.css">
    <script src="/CS256_HW_Learning_Hub/frontend/scripts/bookmarkDash.js"></script>
</head>

<body class="aigo_background">
    <nav class="aigo_navbar navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="/CS256_HW_Learning_Hub/frontend/img/aigo_app.png" alt="Logo" width="30" height="30"
                    class="d-inline-block">
                <span style="padding-left: .5rem;">Aigo</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" id="navHome" aria-current="" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navTrends" aria-current="" href="{{ url_for('trending') }}">Trending AI
                            Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navChatbot" aria-current="" href="{{ url_for('chatbot') }}">Built-in
                            Chatbot</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="aigo_item nav-link dropdown-toggle" id="navDropdown" href="" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-thumbnail" src="/CS256_HW_Learning_Hub/frontend/img/default_pfp_64x64.png"
                                alt="" width="32" height="32">
                            My Account
                        </a>
                        <ul class="aigo_navbar dropdown-menu">
                            <li><a class="aigo_item dropdown-item disabled" id="navProfile" aria-disabled="true"
                                    aria-current="" href="">My Profile</a></li>
                            <li><a class="aigo_item dropdown-item" id="navResources" aria-current=""
                                    href="{{ url_for('my_resources') }}">My Resources</a></li>
                            <li><a class="aigo_item dropdown-item" id="navSubmit" aria-current=""
                                    href="{{ url_for('submit_resource') }}">Submit Resource</a></li>
                            {% if current_user.role == 'admin' %}
                            <li>
                                <a class="aigo_item dropdown-item" id="navAdmin" aria-current=""
                                    href="{{ url_for('admin_dashboard') }}">ADMIN: Approve Resources</a>
                            </li>
                            {% else %}
                            <li>
                                <a class="aigo_item dropdown-item disabled" id="navAdmin" aria-disabled="true"
                                    aria-current="" href="{{ url_for('admin_dashboard') }}">ADMIN: Approve Resources</a>
                            </li>
                            {% endif %}
                            <li><a class="aigo_item dropdown-item" id="navBookmarks" aria-current=""
                                    href="{{ url_for('my_bookmarks') }}">My Bookmarks</a>
                            </li>
                            <li>
                                <hr class="aigo_item dropdown-divider">
                            </li>
                            <li><a class="aigo_item dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <script src="/CS256_HW_Learning_Hub/frontend/scripts/navActive.js"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="alert alert-danger">
        {% for category, message in messages %}
        {{ message }}
        <br>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container mt-5">
        <h2 class="section-title">Welcome, {{ current_user.username }}!</h2>

        <div class="alert alert-info">
            <h4>Dashboard</h4>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/CS256_HW_Learning_Hub/frontend/img/coursera_logo.png" alt="Coursera" width="200em">
                        <br>
                        <br>
                        <h5 class="card-title">Coursera</h5>
                        <p class="card-text">Explore AI courses on Coursera, including deep learning and machine
                            learning courses.</p>
                        <a href="https://www.coursera.org" target="_blank" class="btn btn-primary">Explore Coursera</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/CS256_HW_Learning_Hub/frontend/img/github_logo.png" alt="GitHub" width="200em">
                        <br>
                        <br>
                        <h5 class="card-title">GitHub</h5>
                        <p class="card-text">Explore trending AI repositories on GitHub!</p>
                        <a href="https://github.com/topics/ai?o=desc&s=stars" target="_blank"
                            class="btn btn-primary">Explore GitHub</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/CS256_HW_Learning_Hub/frontend/img/ieeespectrum_logo.png" alt="IEEE Spectrum"
                            width="200em">
                        <br>
                        <br>
                        <h5 class="card-title">IEEE Spectrum</h5>
                        <p class="card-text">Explore the latest industry news on Artificial Intelligence!</p>
                        <a href="https://spectrum.ieee.org/topic/artificial-intelligence/" target="_blank"
                            class="btn btn-primary">Explore IEEE Spectrum</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            <h4>Search Our Specially Collected AI Databases!</h4>
        </div>

        <script async src="https://cse.google.com/cse.js?cx=81cef840783de4dea">
        </script>
        <div class="gcse-search"></div>
        <div class="gcse-searchresults"></div>

        <br>

        <h4><strong>Our Search Engine searches through all of the following CS and AI databases!</strong></h4>
        <hr>

        <div class="grid">
            <div class="section-card" onclick="toggleLinks('research-papers')">
                <h5><strong>📚 AI, ML &amp; CS Research Papers &amp; Articles</strong></h5>
                <p>Explore papers from top research sites.</p>
            </div>
            <div class="section-card" onclick="toggleLinks('open-source')">
                <h5><strong>👨‍💻 AI &amp; CS Open-Source Repositories</strong></h5>
                <p>Explore top open-source projects and models.</p>
            </div>
            <div class="section-card" onclick="toggleLinks('communities')">
                <h5><strong>🌎 AI &amp; CS Communities &amp; Forums</strong></h5>
                <p>Join discussions and communities.</p>
            </div>
            <div class="section-card" onclick="toggleLinks('datasets')">
                <h5><strong>📂 AI/ML Open Datasets</strong></h5>
                <p>Access public AI/ML datasets.</p>
            </div>
            <div class="section-card" onclick="toggleLinks('news')">
                <h5><strong>📰 AI &amp; Tech News</strong></h5>
                <p>Read the latest news on AI & tech.</p>
            </div>
            <div class="section-card" onclick="toggleLinks('tools')">
                <h5><strong>🛠 AI &amp; ML Tools &amp; Libraries</strong></h5>
                <p>Check out popular AI/ML tools.</p>
            </div>
        </div>

        <br>
        <br>

        <!-- Hidden Links Section -->
        <div class="links-container" id="research-papers">
            <h6><strong>Research Paper Links</strong></h6>
            <ul>
                <li><a href="https://arxiv.org/list/cs.AI/recent" target="_new">arXiv - AI &amp; CS</a> <button
                        class="bookmark-btn" onclick="toggleBookmark(this)">⭐</button></li>
                <li><a href="https://paperswithcode.com/" target="_new">Papers With Code</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://scholar.google.com/" target="_new">Google Scholar</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_new">IEEE Xplore - AI &amp; CS</a>
                    <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://dl.acm.org/" target="_new">ACM Digital Library</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://deepai.org/" target="_new">DeepAI</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.semanticscholar.org/" target="_new">Semantic Scholar</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.csail.mit.edu/" target="_new">MIT AI Research</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://openai.com/research/" target="_new">OpenAI Blog</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://deepmind.com/research" target="_new">Google DeepMind Research</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.microsoft.com/en-us/research/theme/artificial-intelligence/"
                        target="_new">Microsoft Research AI</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://ai.facebook.com/research/" target="_new">Meta AI Research</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://research.nvidia.com/" target="_new">NVIDIA Research</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://ai.stanford.edu/" target="_new">Stanford AI Lab</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://bair.berkeley.edu/" target="_new">Berkeley AI Research (BAIR)</a> <button
                        class="bookmark-btn">⭐</button></li>
            </ul>
        </div>

        <div class="links-container" id="open-source">
            <h6><strong>Open-Source Repository Links</strong></h6>
            <ul>
                <li><a href="https://github.com/" target="_new">GitHub</a><button class="bookmark-btn"
                        onclick="toggleBookmark(this)">⭐</button></li>
                <li><a href="https://github.com/trending/python?since=daily&amp;spoken_language_code=en"
                        target="_new">GitHub Trending - AI</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://paperswithcode.com/" target="_new">Papers With Code</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://huggingface.co/models" target="_new">Hugging Face Models</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://github.com/tensorflow/models" target="_new">TensorFlow Models</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://pytorch.org/hub/" target="_new">PyTorch Hub</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://github.com/openai" target="_new">OpenAI GitHub</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://github.com/fastai/fastai" target="_new">fastai</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://github.com/NVIDIA/DeepLearningExamples" target="_new">NVIDIA Deep Learning
                        Examples</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://github.com/facebookresearch" target="_new">Facebook AI Research (FAIR)</a> <button
                        class="bookmark-btn">⭐</button></li>
            </ul>
        </div>

        <div class="links-container" id="communities">
            <h6><strong>Community Links</strong></h6>
            <ul>
                <li><a href="https://www.reddit.com/r/MachineLearning/" target="_new">r/MachineLearning</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.reddit.com/r/artificial/" target="_new">r/artificial</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.reddit.com/r/compsci/" target="_new">r/compsci</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://stackoverflow.com/" target="_new">Stack Overflow</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://news.ycombinator.com/" target="_new">Hacker News</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.lesswrong.com/" target="_new">LessWrong</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.alignmentforum.org/" target="_new">AI Alignment Forum</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://discord.com/invite/8V6K2Fg" target="_new">Deep Learning Discord</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://machinelearningmastery.com/" target="_new">Machine Learning Mastery</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.kdnuggets.com/" target="_new">KDNuggets</a> <button
                        class="bookmark-btn">⭐</button></li>
            </ul>
        </div>

        <div class="links-container" id="datasets">
            <h6><strong>Open Datasets Links</strong></h6>
            <ul>
                <li><a href="https://www.kaggle.com/datasets" target="_new">Kaggle Datasets</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://openml.org/" target="_new">OpenML</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.uCI.edu/ml-datasets" target="_new">UCI ML Repository</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.data.gov/" target="_new">Data.gov</a> <button class="bookmark-btn">⭐</button>
                </li>
                <li><a href="https://www.microsoft.com/en-us/research/publication/corpora-in-ai/"
                        target="_new">Microsoft Research Datasets</a> <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.nature.com/sdata/" target="_new">Nature Datasets</a> <button
                        class="bookmark-btn">⭐</button></li>
            </ul>
        </div>

        <div class="links-container" id="news">
            <h6><strong>AI &amp; Tech News</strong></h6>
            <ul>
                <li><a href="https://www.techcrunch.com/" target="_new">TechCrunch</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.wired.com/category/artificial-intelligence/" target="_new">Wired AI Section</a>
                    <button class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.theverge.com/ai" target="_new">The Verge AI News</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://www.bbc.com/news/technology" target="_new">BBC Tech</a> <button
                        class="bookmark-btn">⭐</button></li>
            </ul>
        </div>

        <div class="links-container" id="tools">
            <h6><strong>AI &amp; ML Tools &amp; Libraries</strong></h6>
            <ul>
                <li><a href="https://scikit-learn.org/" target="_new">scikit-learn</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://pytorch.org/" target="_new">PyTorch</a> <button class="bookmark-btn">⭐</button>
                </li>
                <li><a href="https://www.tensorflow.org/" target="_new">TensorFlow</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://huggingface.co/" target="_new">Hugging Face</a> <button
                        class="bookmark-btn">⭐</button></li>
                <li><a href="https://fast.ai/" target="_new">fast.ai</a> <button class="bookmark-btn">⭐</button></li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            let input = document.querySelector('input.gsc-input');
            input.value = 'What is AI?';
            let submit = document.querySelector('button.gsc-search-button');
            submit.click();
        };
    </script>
</body>

</html>