body{
    background-color: #FAFAFA;
}

.aigo_background{
    background-blend-mode: lighten;
    background-image: url("/CS256_HW_Learning_Hub/frontend/img/conway_1.gif");
    /* background-repeat: space; */
    background-size: cover;
}

.aigo_navbar{
    box-shadow: inset 0 -1em 1em #00000020;
}

